.appleBusket{
   width: 400px;
    margin: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.appleBusket .title{
   padding: 6px 0px;
        text-align: center;
        color: #069;
        font-size: 20px;
}
.appleBusket .stats{
   width: 100%;
      border: 1px dashed #ddd;
        border-top: $border;
        border-bottom: $border;
        padding: 10px 0px;
}
